<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
 <style> 
  
p {
    font-family:arial;
    font-style:italic;
  font-size:90%;
  line-height:100%;
   
 }


h1
{
font-family:courier;
font-size:300%;
text-align : center;
color: red;
text-decoration: underline;

}

img.top {
    vertical-align: text-top;
}

a:link
{

text-decoration: none;
font-size: 15px;
}



</style>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color:rgb(255, 255, 153)")
 >
<p ><img class="top" src="http://tsunanet.net/~tsuna/ruby-on-rails-makes-your-apps-fly.jpg" alt="Ruby" width="100%" height="200"> </p> 


<h1> Program Assignment -3 </h1> 

<p class="navbar-text pull-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :get, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %> </p>




<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>

</body>

</html>
